<div class="container-fluid">
  <div class="row">
    {{> header_admin }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h2 class="white-text">Update Product</h2><hr>
      <div class="modal-body mx-auto white-text" style="width: 80%">
         <form method="post" action="/updateproduct/{{rows.productsid}}">
            <div class="form-group">
              Products Name:
              <div class="form-group">
                <input type="text" class="form-control" value="{{rows.productsname}}" name="productsname" required>
              </div>

              Products Description:
              <div class="form-group">
                <input type="text" class="form-control"  value="{{rows.productsdesc}}" name="productsdesc">
              </div>
              
              Tagline:
              <div class="form-group">
                <input type="text" class="form-control" value="{{rows.productstag}}" name="productstag">
              </div>
              
              Price: 
              <div class="form-group">
                <input type="number" class="form-control" value="{{rows.productsprice}}" name="productsprice" required>
              </div>
              
              Warranty: 
              <div class="form-group">
                <input type="number" class="form-control" value="{{rows.productswarranty}}" name="productswarranty">
              </div>
              
              Brand: 
              <div class="form-group">
                <select class="form-control" name="brand" required>
                  {{#each brand.[0]}}
                  <option value ="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>

              Category: 
              <div class="form-group">
                <select class="form-control" name="category" required>
                  {{#each brand.[1]}}
                  <option value ="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>

              Image Link:
              <div class="form-group">
                <input type="text" class="form-control" value="{{rows.productsimg}}" name="productsimg">
              </div>
              
              <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-right"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;UPDATE </button>
              </div>
            </div>
        </form>
      </div>
    </main>
  </div>
</div>