<div class="container">
  <p class="white-text">CUSTOMER DETAILS:</p>
  <table class="table table-striped table-dark table-hover text-center">
    <thead>
      <tr>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>EMAIL</th>
        <th>STREET</th>
        <th>MUNICIPALITY</th>
        <th>PROVINCE</th>
        <th>ZIP CODE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{rows.0.fname}}</td>
        <td>{{rows.0.lname}}</td>
        <td>{{rows.0.email}}</td>
        <td>{{rows.0.street}}</td>
        <td>{{rows.0.mun}}</td>
        <td>{{rows.0.province}}</td>
        <td>{{rows.0.zip}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <p class="white-text">ORDER DETAILS:</p>
  <table class="table table-striped table-dark table-hover text-center">
    <thead>
      <tr>
        <th>ORDERED PRODUCTS</th>
        <th>QUANTITY</th>
        <th>ORDER DATE</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td>{{this.product}}</td>
        <td>{{this.qty}}</td>
        <td>{{this.orderdate}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>