
<body>
<h3 class="headalign">T E A M   4 F O U R </h3>
<div class="container-fluid">
  <div class="row">
      <div class="col-12">
     <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-block">
			  <div class="row">
            				<div class="col-md-8 col-sm-8">
					<h2 class="card-title">{{name}}</h2>
					<p class="card-text"><strong>Email: </strong> {{email}} </p>
					<p class="card-text"><strong>Phone: </strong> {{phone}} </p>
					<p class="card-text"><strong>Skills: </strong> {{skills.[0]}}, {{skills.[1]}}, {{skills.[2]}} </p>
					<p><strong>Platform: </strong>
						<span class="badge bg-primary">Java</span> 
						<span class="badge bg-info">Android Studio</span>
						<span class="badge bg-warning">Bootstrap</span>
						<span class="badge bg-success">Express.js</span>
					</p>
				</div>
			  <div class="col-md-4 col-sm-4 text-center">
					<img class="btn-md" src="{{imageurl}}" alt="" style="border-radius:50%;; width:260px">
				</div>         
				<div class="col-md-4 col-sm-4 text-center">
					<h2><strong> 5.2K </strong></h2>                    
					<p><small>Fans</small></p>
					<button class="btn btn-primary btn-block btn-md"><span class="fa fa-facebook-square"></span> Like  </button>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<h2><strong>1.4K</strong></h2>                    
					<p><small>Following</small></p>
					<button class="btn btn-success btn-block btn-md"><span class="fa fa-twitter-square"></span> Tweet </button>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<h2><strong>3.8K</strong></h2>                    
					<p><small>Followers</small></p>
					<button type="button" class="btn btn-danger btn-block btn-md"><span class="fa fa-google-plus-square"></span> Follow </button>  
				</div>
			  </div>
              </div>
          </div>
  </div>
  </div> 
</div>