
    <div class="container-fluid">
      <div class="row">
       <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/admin">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories">
                  <span data-feather="file"></span>
                  Category
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productlist">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
            </ul>
            <li class="nav-item">
                <a class="nav-link" href="/brands">
                  <span data-feather="users"></span>
                  Brands
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Create</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/product/create">
                  <span data-feather="file-text"></span>
                  Product
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/brand/create">
                  <span data-feather="file-text"></span>
                  Brand
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/category/create">
                  <span data-feather="file-text"></span>
                  Category
                </a>
              </li>
            </ul>

             <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Update</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/productlist">
                  <span data-feather="file-text"></span>
                  Product
                </a>
              </li>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

          <h2>Choose Product to Update</h2>
          <div class="container">
            <div class="row justify-content-center">
            {{#each rows}}
              <div class="col-md-3 col-sm-6 col-xs-9 mr-sm-3 mb-3 pt-3 bg-dark text-center overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;">
                <div>
                  <h5 class="display-5">{{this.name}}</h5>
                  <p><i class="fas fa-hashtag" style="font-size:12px"></i>{{this.tagline}}</p>
                  <hr style="background-color: #66686b">
                  <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0" onclick="location.href='/products/{{this.id}}'">
                    <img style="width:100%; border-radius: 0 0 20px 0" src="{{this.img}}" class="img-fluid" alt="">
                      <div class="mask flex-center rgba-blue-light">
                        <p class="white-text" style="font-size: 15px">{{this.name}}</p>
                      </div>
                  </div><br>
                </div>
              </div>
            {{/each}}
            </div>
          </div>
        </main>
      </div>
    </div>
