<!--NAV-->
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row">
    <a class="py-3 d-none d-md-inline-block" href="../" style="font-size:24px"><i class="fa fa-home" style="font-size:25px"></i>&nbsp;&nbsp;HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a class="py-3 d-none d-md-inline-block" href="#" style="font-size:24px"><i class="fa fa-th-large" style="font-size:25px"></i>&nbsp;&nbsp;PRODUCTS</a>
  </div>
</nav>
<br>

<!--BODY-->
<div class="container" style="width: 70%">

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 px-md-5 text-center overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;" >
      <div>
        <h4 class="display-5">{{rows.0.name}}</h4>
        <p><i class="fas fa-palette" style="font-size:18px"></i>&nbsp;&nbsp;{{rows.0.brand}}</p>
        <hr>
        <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0"  onclick="location.href='/product/{{rows.0.id}}'">
          <img style="width:100%; border-radius: 0 0 20px 0" src="/images/{{rows.0.pic}}" class="img-fluid" alt="">
            <div class="mask flex-center rgba-blue-light">
              <p class="white-text" style="font-size: 30px">{{rows.0.name}}</p>
            </div>
        </div><br>
      </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 px-md-5 text-center overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;">
      <div>
        <h4 class="display-5">{{rows.1.name}}</h4>
        <p><i class="fas fa-palette" style="font-size:18px"></i>&nbsp;&nbsp;{{rows.1.brand}}</p>
        <hr>
        <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0"  onclick="location.href='/product/{{rows.1.id}}'">
          <img style="width:100%; border-radius: 0 0 20px 0" src="/images/{{rows.1.pic}}" class="img-fluid" alt="">
            <div class="mask flex-center rgba-blue-light">
              <p class="white-text" style="font-size: 30px">{{rows.1.name}}</p>
            </div>
        </div><br>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 px-md-5 text-center overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;">
      <div>
        <h4 class="display-5">{{rows.2.name}}</h4>
        <p><i class="fas fa-palette" style="font-size:18px"></i>&nbsp;&nbsp;{{rows.2.brand}}</p>
        <hr>
        <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0"  onclick="location.href='/product/{{rows.2.id}}'">
          <img style="width:100%; border-radius: 0 0 20px 0" src="/images/{{rows.2.pic}}" class="img-fluid" alt="">
            <div class="mask flex-center rgba-blue-light">
              <p class="white-text" style="font-size: 30px">{{rows.2.name}}</p>
            </div>
        </div><br>
      </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 px-md-5 text-center overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;">
      <div>
        <h4 class="display-5">{{rows.3.name}}</h4>
        <p><i class="fas fa-palette" style="font-size:18px"></i>&nbsp;&nbsp;{{rows.3.brand}}</p>
        <hr>
        <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0" onclick="location.href='/product/{{rows.3.id}}'">
          <img style="width:100%; border-radius: 0 0 20px 0" src="/images/{{rows.3.pic}}" class="img-fluid" alt="">
            <div class="mask flex-center rgba-blue-light">
              <p class="white-text" style="font-size: 30px">{{rows.3.name}}</p>
            </div>
        </div><br>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 px-md-5 text-center overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;">
      <div>
        <h4 class="display-5">{{rows.4.name}}</h4>
        <p><i class="fas fa-palette" style="font-size:18px"></i>&nbsp;&nbsp;{{rows.4.brand}}</p>
        <hr>
        <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0"  onclick="location.href='/product/{{rows.4.id}}'">
          <img style="width:100%; border-radius: 0 0 20px 0" src="/images/{{rows.4.pic}}" class="img-fluid" alt="">
            <div class="mask flex-center rgba-blue-light">
              <p class="white-text" style="font-size: 30px">{{rows.4.name}}</p>
            </div>
        </div><br>
      </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 px-md-5 text-center overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;">
      <div>
        <h4 class="display-5">{{rows.5.name}}</h4>
        <p><i class="fas fa-palette" style="font-size:18px"></i>&nbsp;&nbsp;{{rows.5.brand}}</p>
        <hr>
        <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0" onclick="location.href='/product/{{rows.5.id}}'">
          <img style="width:100%; border-radius: 0 0 20px 0" src="/images/{{rows.5.pic}}" class="img-fluid" alt="">
            <div class="mask flex-center rgba-blue-light">
              <p class="white-text" style="font-size: 30px">{{rows.5.name}}</p>
            </div>
        </div><br>
      </div>
    </div>
  </div>

  <!--CREATE PRODUCT-->
  <div style="margin-left: 10px">
    <a href="/create" type="button" class="btn btn-primary"><i class="fas fa-plus" style="font-size:15px;"></i>&nbsp;&nbsp;Create</a>
  </div><br>

</div><!--CONTAINER-->

<!--FOOTER-->
<footer class="mastfoot mt-auto white-text">
  <div class="inner text-center" style="letter-spacing: 5px;">
    <strong><p>TEAM FOUR</strong></p></strong>
  </div>
</footer>
