{{> header_user }}
<!--BODY-->
<div class="container-fluid">
  <div class="row">
    {{#each product}}
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
      <h2 class="white-text">{{productsname}}</h2><hr>
      <br>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11 col-sm-11 col-xs-11 mr-sm-3 mb-3 p-1 bg-dark overflow-hidden" style="color: #abb; border-radius: 5px; box-shadow: 4px 4px #112;">
            <div>
              <div class="container">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="mx-auto view overlay" style="width: 80%; border-radius: 0 0 20px 0"><br>
                      <img type="button" data-toggle="modal" data-target="#product_image" style="width:100%; border-radius: 0 0 20px 0" src="{{productsimg}}" class="img-fluid" alt="">
                    </div><br>
                  </div>
                  <div class="col-sm-5">
                    <ul style="display: inline; text-decoration: none">
                      <li>Name: <i>{{productsname}}</i></li>
                      <li>Description: <i>{{productsdesc}}</i></li>
                      <li>Tagline: <i>{{productstag}}</i></li>
                      <li>Price: <i>{{productsprice}}</i></li>
                      <li>Warranty: <i>{{productswarranty}}</i></li>
                      <li>Brand name: <i>{{productsbrand}}</i></li>
                      <li>Brand Description: <i>{{branddesc}}</i></li>
                      <li>Category: <i>{{categoryname}}</i></li>
                      <hr style="background-color: #66686b">
                    </ul>
                    <div class="pull-down">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customer_details"><i class="fa fa-cart-plus" style="font-size:15px;"></i>&nbsp;&nbsp;Order</button>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{{> footer }}

<!--MODAL-FORM-->
<div class="modal fade" id="customer_details" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/send-orders">
             <input type="hidden" class="form-control" name="productsid" value="{{productsid}}" />
             <input type="hidden" class="form-control" name="productsname" value="{{productsname}}" />
              <div class="form-group">
            Quantity: <input class="form-control" type="number" placeholder="Enter Quantity" name="qty" required />
            </div>
            First Name:
            <div class="form-group">
              <input type="text" class="form-control" id="fname" placeholder="Enter Your First Name" name="fname" required>
            </div>
            Last Name:
            <div class="form-group">
              <input type="text" class="form-control" id="lname" placeholder="Enter Your Last Name" name="lname" required>
            </div>
            Street:
            <div class="form-group">
              <input type="text" class="form-control" id="street" placeholder="Enter Street Name" name="street" required>
            </div>          
            Municipality: <br>
            <div class="form-group">
              <input type="text" class="form-control" id="mun" placeholder="Enter Municipality" name="mun" required>
            </div>

            Province: <br>
            <div class="form-group">
              <input type="text" class="form-control" id="province" placeholder="Enter Province" name="province" required>
            </div>

            ZipCode: <br>
            <div class="form-group">
              <input type="number" class="form-control" id="province" placeholder="Enter ZipCode" name="zip" required>
            </div>
             Email: <br>
            <div class="form-group">
              <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email" required >
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-success pull-right"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--MODAL-IMAGE-->
<div class="modal fade" id="product_image" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:95%;">
      <img style="width:100%;" src="{{productsimg}}">
    </div>
  </div>
</div>
{{/each}}

<!--FOR SHOW-MODAL-->
<script type="text/javascript">
$('#customer_details').on('show.bs.modal', function (event) {
  var modal = $(this)
  modal.find('.modal-title').text('{{name}}')
})
</script>